body{
  margin: 40px;
  background-color: #f5f7f0;
  font-family: 'Nunito', sans-serif;
}

h4{
  margin: 0 0 20px;
  color: #666661;
  font-weight: 600;
}

label{
  font-weight: 400;
  font-size: 17px;
  color: #9198a1;
}

input{
  font-weight: 200;
  font-size: 16px;
  padding: 5px;
  color: #68687d;
}

button{
  font-size: 14px;
  padding:5px;
  color: #504d51;
}

#directory{
  margin: 20px 0;
  justify-content: space-around;
}

.card{
  margin:20px;
  width: 360px;
  height: 140px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  display: inline-flex;
  background-color: #f2f2f2;
  white-space: nowrap;
}

img{
  margin:20px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.info{
  margin:0;
  width: 220px;
  display: block;
}

.name{
  margin:25px 0 20px;
  width: 180px;
  height: 20px;
  font-size: 20px;
  font-weight: 400;
  color: dimgrey;
}

.email, .location{
  margin-top:5px;
  width: 120px;
  height: 12px;
  font-size: 14px;
  font-weight: 200;
  color: dimgrey;
}

/********* Modal window **********/
.container{
  position:fixed;
  align-content: center;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.25);
}

.modal-window {
  margin: 130px auto;
  left: 500px;
  display: flex;
  height: 450px;
  width: 400px;
  background-color: #f8ece5;
  align-items: center;
  flex-direction: column;
}



.employee-info img{
  margin: 0;
width: 150px;height: 150px;}

#email, #location, #phone, #address, #bday{
  margin: 5px;
  font-size: 14px;
  font-weight: 200;
  color: dimgrey;
}


#location{
  padding: 0 70px 15px;
  border-bottom: 2px solid lightgrey;
}

#phone{
  padding-top: 10px;
}

#name{
  margin: 10px 0;
}

.employee-info{
  margin: 0 0 0 0;display: flex;
  flex-direction: column;
  align-items: center;
}

.close {
 width: 20px;margin-left: auto;
}

.pagebutton{
  display: flex;
  width: 380px;
  justify-content: space-between;
}
